<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Active Record CRUD Lab</title>
    </head>

    <body>
        <form method="post" action="/articles">
        <label for="articles">
        Title: <input type="text" name="title" placeholder="article title"></Title:>
        Content: <input type="text" name="content" placeholder="article content"></Content:>
        <input type="submit" value="Submit">
        </form>
    </body>
</html>
